name: Tenable Cloud Security IaC Scan

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main
    # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  iac_scan:
    # Use the runner that best suits your needs, ubuntu-latest is a common choice.
    runs-on: ubuntu-latest
    name: IaC Security Scan

    steps:
    - uses: actions/checkout@v3
    - name: Scan IaC with Tenable Cloud Security
      uses: tenable/cloud-security-actions/iac/scan@v1
      with:
        api-token: ${{ secrets.TENABLE_API_TOKEN }}
        api-url: https://us2.app.ermetic.com
